.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  height: 80px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.nav__black {
  background-color: #111;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.nav__shrink {
  height: 60px;
  padding: 10px 30px;
}

.nav__logo {
padding-left: 2rem;
  width: 100px;
  object-fit: contain;
}

.nav__avatar {
  width: 40px;
  padding-left: 5px;
  object-fit: contain;
  border-radius: 4px;
}
.nav_actions{
    display: flex;
    align-items: space-between;
}

